<footer>
  <div class="container text-center">
    <p>
      Copyright © <script>document.write(new Date().getFullYear())</script> <span class="footer-brand">impulse</span> Logs
      <br>
      Built for reviewing framework, ops, and gameplay activity with an impulse visual style.
      <br>
      Powered by <a href="https://steampowered.com">Steam</a> <i class="fa fa-steam"></i>
    </p>
  </div>
</footer>